/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Common Shared Style */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.btn {
    display: flex;
    padding: 1rem 2.5rem;
    justify-content: center;
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.btn-active {
    background: #E6533C;
    border: 1px solid #E6533C;
}


/* Header Section */
#header {
    background: #1F1F1F;
}

.header .logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.header .logo-menu .logo a {
    text-decoration: none;
    color: #E6533C;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    /* line-height: 120%; */
}


.header .logo-menu .navbar ul {
    display: flex;
    gap: 10px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.header .logo-menu .navbar ul li {
    list-style: none;
    padding: 10px 2px;

}

.header .logo-menu .navbar ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    padding: 8px 20px;

}

.header .logo-menu .navbar ul li:hover a,
.header .logo-menu .navbar ul li .active {
    border-radius: 30px;
    background: #E6533C;
}

.menu-icon {
    display: none;
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

}

.hero-banner .banner-content {
    width: 40%;
}

.hero-banner .banner-content .banner-title {
    color: #FFF;
    font-size: 70px;
    font-weight: 900;
    line-height: 120%;
    align-self: stretch;
    margin-bottom: 24px;
}

.hero-banner .banner-content .banner-title .shape {
    font-family: 'Miama', sans-serif;
    font-size: 78px;
    font-weight: 400;
}

.hero-banner .banner-content .banner-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.hero-banner .banner-content .btn-group {
    display: flex;
    gap: 14px;
}

.btn {
    display: flex;
    padding: 1rem 2.5rem;
    justify-content: center;
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.btn-active {
    background: #E6533C;
    border: 1px solid #E6533C;
}

.hero-banner .banner-img {
    width: auto;
    position: relative;
}

.hero-banner .banner-img img {
    max-width: 100%;
    vertical-align: -webkit-baseline-middle;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    width: 10rem;
    height: 3rem;
    flex-shrink: 0;
    position: absolute;
    bottom: 3rem;
    left: -4rem;

}

.video a i {
    color: #E6533C;
    font-size: 25px;

}

.video a {
    color: #E6533C;
}

.video div h3 {
    color: #FAFAF9;
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.video div p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.workout {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    width: 10rem;
    height: 3rem;
    flex-shrink: 0;
    position: absolute;
    top: 10rem;
    right: -3rem;
}

.workout h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.workout p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

/* Change your habits section style */
#change-habits {
    background-color: #000;
    color: #fff;
}

.change-habits {
    padding: 90px 0px;
}

.section-top {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.section-top .section-title {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-top .section-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.habits {
    display: flex;
    justify-content: space-evenly;
    gap: 2.3rem;
}

.habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habit img {
    border-radius: 50%;
    border: 2px solid rgb(29, 28, 28);
    margin-bottom: 1.8rem;
}

.habit h3 {
    font-size: 1.08rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.habit p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}

/*Run Extra Mile Style */
#run-extra-mile {
    background-color: #000000;
    color: #fff;
}

.run-extra-mile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    column-gap: 20rem;
    border-radius: 1.2rem;
    padding: 30px 20px;
}

.run-content {
    width: 30%;
    padding-left: 30px;
}

.run-content-title {
    color: #FFF;
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.run-content p {
    color: #fff;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 1.4rem;
}

.run-content .btn-active {
    width: 10rem;
}

.run-img {
    width: 40%;
}

.run-img img {
    max-width: 100%;
    border-radius: 1.2rem;

}

/* BMI Calculator */
#bmi-calculator {
    background-color: #000;
    padding: 90px 0px;
}

.bmi-section-top {
    margin-left: 10rem;
    color: #fff;
    text-align: left;
}

.calculator-chart-section {
    background-color: #222222;
    padding: 3rem 0;
}

.calculator-chart {
    display: flex;
    gap: 6rem;
}

.chart-title,
.calc-title {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 900;
}


.table-chart {
    margin-top: 2.5rem;
}


.table-chart table th {
    color: #fff;
    font-size: 1rem;
}

.table-chart table td {
    color: #fff;
    opacity: 0.5;
    font-size: 0.9rem;
}

.table-chart table,
.table-chart table th,
.table-chart table td {
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    height: 3.2rem;
    padding: 0px 25px;
    text-align: left;
}



.calc-top {
    margin-bottom: 20px;
    width: 60%;
}

.calc-title {
    margin-bottom: 10px;
}

.calc-top p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    color: #fff;
    opacity: 0.5;

}

.form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


.form form input,
.form form select {
    padding: 0.8rem 1.5rem;
    background-color: #383838;
    border: #383838;
    border-radius: 0.5rem;
}


.form form select {
    color: #fff;
    opacity: 0.3;
    background-color: rgba(56, 56, 56, 1);
}

.activity-factor {
    grid-column: span 2;
}

.btn-calc {
    width: 15rem;

}


/* Meet Our Team Section Style */
#our-team {
    background-color: #000;
    padding: 5rem 0px;
    color: #fff;
}

.our-team .section-title {
    color: #FFF;
}

.our-team .section-description {
    color: #FFF;
    opacity: 0.5;
}

.team-section {
    background-color: #191919;
    border-radius: 1.1rem;
    padding: 1rem;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.member {
    position: relative;
}

.member-content {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
}

.member-content h3 {
    font-size: 1.1rem;
    font-weight: 900;

}

.member-content p {
    color: #fff;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: 400;
}

.member img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}







/* Footer Style */
.footer {
    padding: 35px 0px;
    background: #191919;
}

.footer-content {
    display: grid;
    grid-template-columns: 40% repeat(2, 1fr);
    column-gap: 3rem;
}

.footer-content .logo-content .logo {
    text-decoration: none;
    color: #E6533C;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 800;
}

.footer-content .logo-content p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    margin-top: 1rem;

}

.help-content h3,
.features-content h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.help-content li,
.features-content li {
    list-style: none;
    margin-bottom: 0.8rem;
}

.help-content li a,
.features-content li a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: none;
}

.horizontal-bar {
    border: 1px solid #fff;
    opacity: 0.10;
    margin-top: 2.5rem;
}

.copyrights {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-top: 1rem;
    opacity: 0.5;
    text-align: center;
}



/* Small Devices */
@media screen and (max-width:576px) {
    .header .logo-menu {
        padding: 10px;
    }

    .header .logo-menu .navbar {
        display: none;
    }

    .header .logo-menu .menu-icon {
        display: block;
        color: #fff;
        font-size: 20px;
    }

    .hero-banner {
        margin-top: 1.8rem;
        flex-direction: column;
        padding: 0px 10px;
    }

    .hero-banner .banner-content {
        width: auto;
    }

    .hero-banner .banner-content .banner-title {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero-banner .banner-content .banner-title .shape {
        font-size: 4rem;
    }

    .hero-banner .banner-content .banner-description {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .hero-banner .banner-content .btn-group {
        display: flex;
        gap: .5rem;
    }

    .hero-banner .banner-content .btn-group .btn {
        font-size: 12px;
        padding: 0.5rem 1.5rem;

    }

    .video {
        width: 7rem;
        height: 2rem;
        bottom: 15rem;
        left: 1rem;
        padding: 14px;
    }

    .video a i {
        font-size: 1rem;
    }

    .video div h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;

    }

    .video div p {
        font-size: 8px;
    }

    .workout {
        width: 7rem;
        height: 2rem;
        top: 3rem;
        right: 0rem;
        padding: 14px;

    }

    .workout h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;

    }

    .workout p {
        font-size: 0.5rem;
    }

    .section-top {
        width: 90%;
    }

    .section-top .section-title {
        font-size: 1.5rem;
    }


    .section-top .section-description {
        font-size: 0.8rem;
    }

    .habits {
        flex-direction: column;
    }

    .habits p {
        width: 80%;
    }

    .footer {
        padding: 10px;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .team-section {
        padding: 10px 20px;
        margin: 5px 20px;
    }

    .members {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
    }

    .run-extra-mile-content {
        flex-direction: column;
        margin: 0px 15px;
    }

    .run-content {
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 0;
    }

    .run-img {
        width: 100%;
    }

    .bmi-section-top {
        margin-left: 1rem;
    }

    .calculator-chart {
        flex-direction: column;
    }

    .table-chart {
        padding: 0px 1rem;
    }

    .chart-title,
    .calc-title {
        font-size: 1rem;
        padding-left: 1rem;
    }

    .calc-top {
        width: 95%;
    }

    .calc-top p {
        padding-left: 1rem;
    }

    .form form {
        grid-template-columns: repeat(2, 45%);
        padding-left: 1rem;
    }

    .btn-calc {
        padding: 0.8rem;
        width: 10rem;
    }


}

/* Medium Device */
@media screen and (min-width:577px) and (max-width:792px) {
    .header .logo-menu {
        padding: 30px 20px;
    }



}



/* For more responsive */
@media screen and (min-width:792px) and (max-width:1120px) {
    .header {
        padding: 50px 20px;
    }

    .hero-banner .banner-content .btn-group .btn {
        padding: 1rem 2rem;

    }

    .workout {
        top: 10rem;
        right: -1rem;
    }

    .section-top .section-title {
        font-size: 2.4rem;
    }


    .section-top .section-description {
        font-size: 0.8rem;
    }

    .footer {
        padding: 35px 10px;
    }

    .team-section {
        padding: 10px 20px;
        margin: 5px 20px;
    }

    .habits {
        margin: 0 2rem;
    }

    .run-extra-mile-content {
        margin: 0 2rem;
    }
}